body {
    background-color: #d4deea;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #ffffff;
    border: 1px solid #d4deea;
    border-radius: 5px;
    width: 1000px;
    height: 400px;
}

.box__inputs {
    display: flex;
}
